

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left, bottom right;
background-color: #FFF8F3;
}



/* dark-2 */
.dark-2{
    color: #474747;
}
/* all button */
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
}


/* shared style */
.text-primary{
    color: #FD6E0A;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-content{
    max-width: 700px;
    text-align: left;
}



.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin: 0;
}
.banner-profile-pic{
    width: 580px;
}
.banner-discription{
    font-size: 18px;
    margin: 30px 0;
}