

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: center left, bottom right;
background-color: #FFF8F3;
}



/* dark-2 */
.dark-2{
    color: #474747;
}
/* all button */
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
}


/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-discription{
    font-size: 18px;
    color: #757575;
    
}
.text-center{
    text-align: center;

}



/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-content{
    max-width: 700px;
    text-align: left;
}



.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin: 0;
}
.banner-profile-pic{
    width: 580px;
}
.banner-discription{
    font-size: 18px;
    margin: 30px 0;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto; 
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}



/* about sytle */
.about{
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
    margin-top: 100px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.item-discription{
    font-weight: bold;
}
.about-item{
    margin: 0;
}
.item-title{
    color: #757575;
}

/* skills section style */

.section-discription1{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.skills-container{
    display: flex;
    gap: 0;
}
.skill{
    margin: 104px 33px 30px 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill-discription{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}
/* resume section style */
.resume-column-title{
font-size: 30px;
font-weight: bold;
color: #474747;

}
.resume-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.experience-title{
font-size: 30px;
font-weight: bold;
color: #474747;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;

}
.experience-discription{
    font-size: 16;
    font-weight: 400;
    color: #757575;

}
.resume hr{
    margin: 30px 3px;
}
.resume-btn{
    margin-top: 50px;
}
/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 120px;
}
.footer-column{
    width: 60%;
}
footer input[type="text"] , footer input[type="email"] , footer textarea{
    display: block;
    height: 64;
    width: 461px;
    border-radius: 5px;
    margin-bottom: 24px;
    padding: 24px 24px;
    border: none;
}
